{% load static %}

<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1">


<title>

St. Augustine Portal

</title>

<link
rel="icon"

href="{% static 'images/favicon.png' %}">


<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
rel="stylesheet">


<link
rel="stylesheet"
href="{% static 'css/style.css' %}">

</head>



<body>


<div class="app-shell">


<!-- TOPBAR -->

<header class="topbar">


<div class="brand">


<img
src="{% static 'images/logo.png' %}"
class="nav-logo">


<div>


<h3>

St. Augustine

</h3>


<span>

Community Portal

</span>


</div>


</div>



<div class="top-right">


{% if user.is_authenticated %}


<div class="notify">

🔔

</div>



<div class="profile-menu">


<span>

👤 {{ user.username }}

</span>



<div class="profile-dropdown">


<a href="/profile/">

Profile

</a>


<a href="/profile/">

Privacy Settings

</a>


<form
method="POST"
action="/accounts/logout/">

{% csrf_token %}


<button
class="logout-btn">

Logout

</button>


</form>


</div>


</div>


{% else %}


<a href="/accounts/login/">

Login

</a>


<a href="/sign-up/">

Register

</a>


{% endif %}


</div>


</header>




<div class="workspace">


{% if user.is_authenticated %}


<aside class="sidebar">


<a href="/dashboard/">

🏠 Dashboard

</a>


<a href="/directory/">

👥 Members

</a>


<a href="/profile/">

⚙ Profile

</a>


</aside>


{% endif %}



<main class="content">


{% block content %}

{% endblock %}


</main>


</div>


</div>


</body>

</html>