{% extends 'base.html' %}

{% block content %}


<div class="page-header">

<h1>

Member Directory

</h1>

<p>

Browse the St. Augustine community

</p>

</div>



<div class="card search-panel">

<div class="card-body">


<form method="GET">

<input
type="text"

name="q"

value="{{ query }}"

placeholder="Search name, phone, state, relationship...">


<button>

Search

</button>


</form>


</div>

</div>



<br>



<div class="directory-grid">


{% for member in members %}


<div class="card member-card">


<div class="card-body">


{% if member.photo %}

<img
src="{{ member.photo.url }}"
class="member-avatar">

{% endif %}


<h4>

{{ member.full_name }}

</h4>


<p>

{{ member.state_residence }}

</p>


{% if member.show_relationship %}

<p>

{{ member.relationship_status }}

</p>

{% endif %}



<a href="{% url 'member_profile' member.id %}">

View Profile

</a>


</div>


</div>


{% empty %}


<div class="card">

<div class="card-body">

No members found.

</div>

</div>


{% endfor %}


</div>


{% endblock %}