{% extends 'base.html' %}

{% block content %}

<div class="hero">

<h1>

Welcome to
St. Augustine Portal

</h1>


<p>

A secure and beautiful community space
for members to celebrate birthdays,
build connection and stay informed.

</p>


<a
href="/sign-up/">

Join Community

</a>

</div>

<section class="welcome-grid">


<div class="card">

<h3>

🎂 Celebrate

</h3>

<p>

Track birthdays and upcoming celebrations.

</p>

</div>



<div class="card">

<h3>

👥 Connect

</h3>

<p>

Find members and strengthen community.

</p>

</div>



<div class="card">

<h3>

🙏 Grow

</h3>

<p>

Stay connected through shared updates.

</p>

</div>


</section>


<br><br>


<div class="row g-4">


<div class="col-md-4">

<div class="card">

<div class="card-body">

<h3>

🎂 Birthdays

</h3>

<p>

Upcoming celebrations.

</p>

</div>

</div>

</div>



<div class="col-md-4">

<div class="card">

<div class="card-body">

<h3>

🕊 Arch Angels

</h3>

<p>

Reflections and tradition.

</p>

</div>

</div>

</div>



<div class="col-md-4">

<div class="card">

<div class="card-body">

<h3>

🙏 Community

</h3>

<p>

Members and updates.

</p>

</div>

</div>

</div>


</div>

{% endblock %}