<h1>
🎂 Birthday Portal
</h1>

<a href="/sign-up/">

Create Account

</a>


######################################################
<!-- <!DOCTYPE html>

<html>

<head>

<title>Register</title>

</head>

<body>

<h1>
🎂 Birthday Registration
</h1>

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<button type="submit">

Register

</button>

</form>

</body>

</html> -->

###############################################
<!-- <!DOCTYPE html>

<html>

<head>

<title>Birthday Portal</title>

</head>

<body>

<h1>🎂 Birthday Portal</h1>

<p>Welcome to my first Python full-stack website.</p>

<button>
Join
</button>

</body>

</html> -->