{% extends 'base.html' %}

{% block content %}

<div class="hero">

<h1>

ST. AUGUSTINE

</h1>

<p>

Celebrate birthdays.
Build community.
Remember milestones.

</p>

<br>

<a
href="/sign-up/"
class="btn btn-primary">

Join Community

</a>

</div>


<br><br>


<div class="row g-4">


<div class="col-md-4">

<div class="card">

<div class="card-body">

<h3>

🎂 Birthdays

</h3>

<p>

Upcoming celebrations.

</p>

</div>

</div>

</div>



<div class="col-md-4">

<div class="card">

<div class="card-body">

<h3>

🕊 Arch Angels

</h3>

<p>

Reflections and tradition.

</p>

</div>

</div>

</div>



<div class="col-md-4">

<div class="card">

<div class="card-body">

<h3>

🙏 Community

</h3>

<p>

Members and updates.

</p>

</div>

</div>

</div>


</div>

{% endblock %}